################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/winui3-reddit-tts.Core/obj
