################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/winui3-reddit-tts.Core/obj
/winui3-reddit-tts/obj
/winui3-reddit-tts.Core/bin/x86/Debug/netstandard2.0
/winui3-reddit-tts/bin/x86/Debug/net6.0-windows10.0.19041.0/win10-x86
